In [15]:
import pandas as pd

ori_train_dir = f'/opt/ml/KSR/dataset/train/train.csv'
en_train_dir = f'/opt/ml/KSR/dataset/train/new_en_train.csv'
ja_train_dir = f'/opt/ml/KSR/dataset/train/new_ja_train.csv'

In [16]:
ori_train_df = pd.read_csv(ori_train_dir)
en_train_df = pd.read_csv(en_train_dir)
ja_train_df = pd.read_csv(ja_train_dir)

In [17]:
en_train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32470 entries, 0 to 32469
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 32470 non-null  int64
 1   sentence           32470 non-null  object
 2   subject_entity     32470 non-null  object
 3   object_entity      32470 non-null  object
 4   label              32470 non-null  object
 5   source             32470 non-null  object
 6   en_trans_sentence  32470 non-null  object
dtypes: int64(1), object(6)
memory usage: 1.7+ MB

In [18]:
en_train_df['sentence'] = en_train_df['en_trans_sentence']
ja_train_df['sentence'] = ja_train_df['ja_trans_sentence']
en_train_df.drop(['en_trans_sentence'], axis=1, inplace=True)
ja_train_df.drop(['ja_trans_sentence'], axis=1, inplace=True)

In [19]:
en_train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32470 entries, 0 to 32469
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              32470 non-null  int64
 1   sentence        32470 non-null  object
 2   subject_entity  32470 non-null  object
 3   object_entity   32470 non-null  object
 4   label           32470 non-null  object
 5   source          32470 non-null  object
dtypes: int64(1), object(5)
memory usage: 1.5+ MB

In [20]:
concat_train_df = pd.concat([ori_train_df, en_train_df, ja_train_df])
concat_train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97410 entries, 0 to 32469
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              97410 non-null  int64
 1   sentence        97410 non-null  object
 2   subject_entity  97410 non-null  object
 3   object_entity   97410 non-null  object
 4   label           97410 non-null  object
 5   source          97410 non-null  object
dtypes: int64(1), object(5)
memory usage: 5.2+ MB

In [21]:
concat_train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97410 entries, 0 to 32469
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              97410 non-null  int64
 1   sentence        97410 non-null  object
 2   subject_entity  97410 non-null  object
 3   object_entity   97410 non-null  object
 4   label           97410 non-null  object
 5   source          97410 non-null  object
dtypes: int64(1), object(5)
memory usage: 5.2+ MB

In [22]:
concat_train_df.to_csv(f"/opt/ml/KSR/dataset/train/concat_train.csv", index=False)